#all {
  width: 100%;
  height: 100%;
  position: relative;
}
#all #first_header {
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 1000000;
}
#all #first_header .header_service {
  width: 100%;
  height: 40px;
  background: gainsboro;
}
#all #first_header .header_service .service_list {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}
#all #first_header .header_service .service_list .list_city {
  width: 173px;
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
}
#all #first_header .header_service .service_list .list_city span {
  font-weight: bold;
}
#all #first_header .header_service .service_list .list_city .qiehuan {
  color: #999;
}
#all #first_header .header_service .service_list .list_city img {
  vertical-align: middle;
}
#all #first_header .header_service .service_list .list_city:hover {
  background: white;
}
#all #first_header .header_service .service_list .list_right {
  float: right;
}
#all #first_header .header_service .service_list .list_right .list_guide {
  height: 40px;
  float: left;
  text-align: center;
  line-height: 40px;
  margin-right: 5px;
  padding: 0 15px;
}
#all #first_header .header_service .service_list .list_right .list_guide a {
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  color: black;
}
#all #first_header .header_service .service_list .list_right .list_guide:hover {
  background: white;
}
#all #first_header .header_service .service_list .list_right .list_guide:hover a {
  transition: color 0.5s;
  color: red;
}
#all #first_header .header_service .service_list .list_right .list_gui {
  margin-right: 0;
}
#all #first_header .header_service .triangle {
  border: 1px solid #ccc;
  width: 12px;
  height: 12px;
  background: white;
  transform: rotate(135deg);
  position: absolute;
  right: 51px;
  bottom: -8px;
}
#all #first_header .header_service .dimensional {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 12px;
  bottom: -90px;
  z-index: 10;
}
#all #first_header .header_service .dimensional img {
  width: 90px;
  height: 90px;
}
#all #first_header .header_search {
  width: 100%;
}
#all #first_header .header_search .search_serve {
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
#all #first_header .header_search .search_serve .logo {
  width: 280px;
  height: 90px;
  text-align: center;
  line-height: 70px;
  float: left;
}
#all #first_header .header_search .search_serve .logo img {
  width: 280px;
  height: 40px;
  margin-top: 10px;
  vertical-align: middle;
}
#all #first_header .header_search .search_serve .search_box {
  position: relative;
  width: 596px;
  height: 34px;
  border: 2px solid red;
  float: left;
  margin: 33px 78px;
}
#all #first_header .header_search .search_serve .search_box img {
  display: block;
  width: 15px;
  height: 15px;
  color: black;
  float: left;
  margin-top: 10px;
  transform: translateX(21px);
}
#all #first_header .header_search .search_serve .search_box input {
  width: 417px;
  height: 30px;
  padding: 2px 0 2px 30px;
  float: left;
  font-size: 13px;
  outline: none;
}
#all #first_header .header_search .search_serve .search_box .sousuo {
  width: 120px;
  height: 34px;
  float: right;
  text-align: center;
  line-height: 34px;
  color: white;
  background: red;
  font-size: 13px;
}
#all #section_content {
  width: 100%;
  position: relative;
}
#all #section_content .poster {
  width: 100%;
  height: 300px;
  background: gainsboro;
  margin-top: 143px;
}
#all #section_content .poster .swiper-container {
  width: 100%;
  height: 300px;
}
#all #section_content .poster .swiper-container .swiper-wrapper {
  width: 400%;
  height: 300px;
}
#all #section_content .poster .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  float: left;
  height: 300px;
}
#all #section_content .poster .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 300px;
}
#all #section_content .service_class {
  width: 180px;
  height: 300px;
  background: #757881;
  line-height: 30px;
  position: absolute;
  top: 0;
  left: 370px;
  z-index: 1000;
}
#all #section_content .service_class li {
  width: 135px;
  height: 30px;
  padding-left: 45px;
  position: relative;
  color: white;
}
#all #section_content .service_class li .clean_class {
  width: 180px;
  height: 300px;
  background: white;
  position: absolute;
  top: 0;
  left: 180px;
  display: none;
}
#all #section_content .service_class li span {
  display: block;
  font-weight: bold;
  position: absolute;
  top: 0;
}
#all #section_content .service_class li .span_right {
  right: 20px;
}
#all #section_content .service_class li:hover {
  background: #60646d;
}
#all #section_content .service_class li:hover .span_right {
  display: none;
}
#all .content {
  width: 100%;
  margin-top: 50px;
}
#all .content .caption_all {
  width: 1170px;
  height: 584px;
  padding: 0 15px;
  margin: 0 auto;
  margin-top: 20px;
}
#all .content .caption_all .caption {
  width: 100%;
  height: 28px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: black;
}
#all .content .caption_all .serviceType {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
#all .content .caption_all .serviceType .as {
  font-size: 22px;
  font-weight: bold;
  color: #3d3638;
  margin-left: 8px;
  font-family: "新宋体";
}
#all .content .caption_all .serviceType .more {
  font-size: 18px;
  position: absolute;
  right: 0;
  color: #999;
}
#all .content .caption_all .line {
  height: 20px;
}
#all .content .caption_all .shopList {
  margin-top: 10px;
  width: 1280px;
}
#all .content .caption_all .shopList .shopList_content {
  float: left;
  width: 210px;
  height: 325px;
  padding: 10px;
  border: 1px solid #eee;
  margin: 0 5px;
}
#all .content .caption_all .shopList .shopList_content img {
  width: 210px;
  height: 210px;
}
#all .content .caption_all .shopList .shopList_content .serviceName {
  font-weight: bold;
  margin: 10px 0;
}
#all .content .caption_all .shopList .shopList_content .description {
  font-size: 14px;
  color: #999;
}
#all .content .caption_all .shopList .shopList_content .price {
  width: 208px;
  padding: 8px;
  margin-top: 8px;
}
#all .content .caption_all .shopList .shopList_content .price .price_type {
  float: left;
  font-size: 18px;
  font-weight: bold;
  color: red;
}
#all .content .caption_all .shopList .shopList_content .price .detail {
  color: white;
  width: 76px;
  height: 24px;
  background: red;
  border-radius: 5px;
  float: right;
  text-align: center;
  line-height: 24px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 8px;
}
#all .content .caption_all .elseList {
  width: 1172px;
  height: 98px;
  padding: 10px;
  margin: 20px 4px 0 4px;
  border: 1px solid #eee;
}
#all .content .caption_all .elseList span {
  font-size: 14px;
  display: block;
  float: left;
  margin: 5px 10px;
  color: black;
  font-weight: bold;
}
#all .content .caption_all .elseList span:hover {
  color: red;
}
#all .hotCity {
  width: 100%;
}
#all .hotCity .hotCity_service {
  width: 100%;
  height: 88px;
  padding-top: 60px;
}
#all .hotCity .hotCity_service h2 {
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
#all .hotCity .hotCity_service h2 a {
  color: red;
  font-weight: bold;
}
#all .hotCity .hotCity_service .safeguard {
  width: 100%;
  text-align: center;
  margin: 15px 0;
  font-size: 24px;
  color: #666;
}
#all .hotCity .safety {
  display: flex;
  justify-content: center;
}
#all .hotCity .safety div {
  font-size: 18px;
  margin-left: 10px;
}
#all .hotCity .safety div img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}
#all .footer {
  width: 100%;
  padding-top: 50px;
}
#all .footer .juzhong {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
#all .footer .juzhong .remen {
  font-size: 18px;
  float: left;
  color: black;
  font-weight: bold;
}
#all .footer .juzhong .chengshi {
  float: left;
  margin-left: 100px;
}
#all .footer .juzhong .chengshi a {
  display: inline-block;
  float: left;
  width: 98px;
  height: 30px;
}
#all .author {
  width: 1170px;
  padding: 50px 15px 0 15px;
  margin: 0 auto;
  background: #fbf8f8;
}
#all .author .partner {
  font-size: 18px;
  font-weight: bold;
}
#all .author .merchant {
  width: 100%;
  margin-top: 20px;
}
#all .author .merchant .merchant1 {
  width: 100%;
  margin-bottom: 20px;
}
#all .author .merchant .merchant1 li {
  width: 120px;
  height: 60px;
  float: left;
  margin-left: 10px;
  background: white;
  text-align: center;
  line-height: 60px;
}
#all .author .merchant .merchant1 li img {
  width: 100px;
  height: 47px;
  vertical-align: middle;
}
#all .author .merchant .merchant2 {
  margin-bottom: 0;
}
#all .author .copyright {
  margin-top: 10px;
  font-size: 14px;
  margin-left: 10px;
  color: #666;
}
#all .clearfix:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
}
